/**{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
}*/
/*
    //////////////////
    This is the general or broad styling.
    //////////////////
 */

.bolded {
  font-weight: 600;
}

.flying-button {
  background-color: white;
  color: #008CBA;
  border: 2px solid #008CBA;
}

.flying-button:hover {
  background-color: #008CBA;
  color: white;
}

.rolling-button {
  background-color: white;
  color: rgb(255, 185, 42);
  border: 2px solid rgb(255, 185, 42);
}

.rolling-button:hover {
  background-color: rgb(255, 185, 42);
  color: white;
}

.increase-size {
  padding-bottom: 200px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
  background-color: white;
  color: darkgrey;
  border: 2px solid darkgrey;
}

input:focus {
  outline: 0;
}

select:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
}

/*
    //////////////////
    This is styling for the navbar.
    //////////////////
 */

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  z-index: 1050;
  background-color: white;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 35px;
  line-height: 35px;
}

nav ul li a {
  text-decoration: none;
  position: relative;
  color: grey;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
}

/* TODO: try to make this coalesce to a dot, and to make hover extend out to touch each element */
nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightgrey;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.05s ease-in-out 0s;
  transition: all 0.05s ease-in-out 0s;
}

nav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

/*
    //////////////////
    This is the styling for the intro section.
    //////////////////
 */

h1 {
	color: darkgrey;
	font-family: 'Fjalla One';
	font-size: 56px;
	letter-spacing: 0.2em;
	line-height: 60px;
	margin-bottom: 30px;
  margin-top: 15%;
	text-align: center;
	text-transform: uppercase;
}

#header-image {
  /* TODO: fix this when the website is done */
  /*padding-bottom: 10px;*/
}

#header-paragraph {
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 20%;
  width: 400px;
  vertical-align: middle;
  display: inline-table;
}

/*
    //////////////////
    This is the styling for the flying section
    //////////////////
 */


#flying-paragraph {
  overflow: auto;
  display: block;
}

#flying-header {
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 45px;
  overflow: auto;
  display: block;
  text-align: right;
  margin-top: 60px;
  margin-right: 80px;
  margin-bottom: 10px;
  padding-right: 20px;
}

#flying-image {
  float: left;
  clear: both;
  padding-left: 40px;
}

#flying-text {
  text-align: right;
  float: right;
  margin: 10px;
  margin-right: 80px;
  padding-right: 20px;
  width: 300px;
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 25px;
}

/*
    //////////////////
    This is the styling for the flying features section
    //////////////////
 */

 #flying-feature {
   /* TODO: change this for the finished site. Just for WIP mode */
   margin-bottom: 150px;
   margin-top: 50px;
 }

 #flying-feature-section {
   overflow: auto;
   display: block;
 }

 #flying-feature-div {
   float: none;
   width: 170px;
   margin: 50px;
   margin-top: 0;
   display: inline-block;
 }

 #flying-feature-div p {
   text-align: center;;
   color: #808080;
   font-family: 'Raleway', sans-serif;
   font-weight: 200;
   font-size: 16px;
 }

 #flying-feature-image {
   margin: 10px;
 }

/*
    //////////////////
    This is the styling for the rolling section
    //////////////////
 */

#rolling {
  /* TODO: change this for the finished site. Just for WIP mode */
}

#rolling-paragraph {
  overflow: auto;
  display: block;
}

#rolling-header {
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 45px;
  overflow: auto;
  display: block;
  text-align: justify;
  margin-top: 60px;
  margin-left: 80px;
  margin-bottom: 10px;
  padding-left: 20px;
}

#rolling-image {
  float: right;
  clear: both;
  padding-right: 40px;
}

#rolling-text {
  text-align: justify;
  float: left;
  margin: 10px;
  margin-left: 80px;
  padding-left: 20px;
  width: 300px;
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 25px;
}


/*
    //////////////////
    This is the styling for the rolling features section
    //////////////////
*/

#rolling-feature {
 /* TODO: change this for the finished site. Just for WIP mode */
 margin-bottom: 150px;
 margin-top: 50px;
}

#rolling-feature-section {
 overflow: auto;
 display: block;
}

#rolling-feature-div {
 float: none;
 width: 170px;
 margin: 50px;
 margin-top: 0;
 display: inline-block;
}

#rolling-feature-div p {
 text-align: center;;
 color: #808080;
 font-family: 'Raleway', sans-serif;
 font-weight: 200;
 font-size: 16px;
}

#rolling-feature-image {
 margin: 10px;
}


/*
   //////////////////
   This is the styling for the rolling features section
   //////////////////
*/

#opinion {
  border: 2px solid darkgrey;
  margin-bottom: 100px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

#opinion p {
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 45px;
  overflow: auto;
  text-align: center;;
  margin: 20px;
  padding: 20px;
}

#opinion form {
  margin-bottom: 50px;
}

#opinion button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 20px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

/*
    //////////////////
    This is the styling for the shop section
    //////////////////
 */

/* TODO: replace all these id stylings with just #shop p{}, #shop img{}, etc. since
    we're styling all elements of one type identically */
#shop {
  margin-bottom: 200px;
}

#shop-header {
 color: #808080;
 font-family: 'Raleway', sans-serif;
 font-weight: 600;
 font-size: 45px;
 overflow: auto;
 text-align: center;;
 margin: 20px;
 padding: 20px;
}

#shop-section {
  overflow: auto;
  display: block;
}

#shop-div {
  float: none;
  width: 200px;
  margin: 20px;
  margin-top: 0;
  display: inline-block;
}

#shop-div p {
  text-align: center;
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

#shop-image {
  margin: 10px;
}

#shop button {
 padding: 16px 42px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 margin: 4px 10px;
 -webkit-transition-duration: 0.2s; /* Safari */
 transition-duration: 0.2s;
 cursor: pointer;
 font-family: 'Raleway', sans-serif;
 font-weight: 200;
 font-size: 16px;
}

#shop input {
	border: 1px solid #808080;
	color: #808080;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 200;
	margin: 10px;
	padding: 10px;
	width: 150px;
 }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
TODO: replace this stuff with the select2 plugin using JQuery: https://select2.github.io/examples.html

 */

#shop select {
  background: transparent;
  border: none;
  width: 172px;
  height: 45px;
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

.shop-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  display: inline-block;
  width: 172px;
  height: 45px;
  margin: 10px;
  border: 1px solid #808080;
  margin-bottom: 30px;
  /*padding: 20px;*/
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
